.footer-container {
  margin: 3rem 4rem;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2rem;
  height: 40vh;
  border-top: 1px solid grey;
}
.footer-container img {
  height: 8rem;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  border-bottom: 1px solid #444;
}
.footer-nav-list li {
  margin-right: 1rem;
}
.footer-nav-list li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.social {
  display: flex;
  align-items: center;
  gap: 10px;
  color: grey;
}
.icon:hover {
  cursor: pointer;
  color: black;
}

/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 480px) {
  .footer-container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0rem;
    padding: 1rem;
    height: auto;
    border-top: 1px solid grey;
  }
  .footer-container img {
    height: 5rem;
  }
  .footer-nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    border-bottom: 1px solid #444;
  }
}
