.gallery-container {
  margin: 3rem 4rem;
}

.gallery-grid {
  flex: 1;
  height: 80vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 16rem);
  grid-auto-rows: 11px;
  margin: 1rem 0;
}
.pin {
  border-radius: 16px;
  background-color: grey;
  margin: 6px;
  position: relative;
  overflow: hidden;
}
.pin.small {
  grid-row-end: span 26;
}
.pin.medium {
  grid-row-end: span 30;
}
.pin.large {
  grid-row-end: span 43;
}
.pin.gallery-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE FOR MOBILE */
@media screen and (max-width: 480px) {
  .gallery-container {
    margin: 0rem;
  }
  .gallery-text {
    margin: 2rem 1rem;
  }
  .gallery-grid {
    overflow: hidden;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(3, 15rem);
    grid-auto-rows: 7px;
    margin: -10px 10px;
    /* background-color: red; */
    height: 60vh;
  }
  .pin {
    border-radius: 0px;
    background-color: grey;
    margin: 4px;
    position: relative;
    overflow: hidden;
  }
}
